.offer {
  display: flex;
  flex-direction: column;
  padding: 4%; /* Относительные единицы для отступов */
}

.galleryControls {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Вертикальное выравнивание элементов */
  margin-bottom: 2rem; /* Отступ снизу */
}

.offerTitle {
  font-size: 2.5rem; /* Использование rem для масштабируемости */
  color: white;
  font-weight: 400;
  text-align: center;
}

.galleryControls button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 1rem; /* Замените на относительные единицы */
  height: 1rem; /* Замените на относительные единицы */
  margin-right: 1rem; /* Отступ между кнопками */
}

.galleryControls button img {
  width: 100%;
  height: 100%;
}

.productCards {
  display: flex;
  justify-content: center; /* Центрируем карточки по горизонтали */

  gap: 10px; /* Расстояние между карточками */
  max-width: 100%; /* Убедитесь, что блок занимает всю ширину */
  margin: 0 auto; /* Центрируем блок на странице */
}

@media (max-width: 768px) {
  .offerTitle {
    font-size: 28px;
  }
}

@media (max-width: 425px) {
  .offer {
    padding: 20px; /* Уменьшаем отступы */
  }

  .offerTitle {
    font-size: 24px; /* Уменьшаем размер заголовка */
    line-height: 32px;
  }

  .galleryControls button {
    width: 12px;
    height: 14px;
    margin-right: 10px;
  }

  .productCards {
    gap: 10px; /* Уменьшаем расстояние между карточками */
  }
}
