.main {
  display: flex;
  flex-direction: column;
  padding: 5%;
  color: #fff;
}

.path {
  margin-bottom: 20px;
  font-size: 16px;
}

.path a {
  color: #fff;
}

.product {
  display: flex;
  flex-direction: column; /* По умолчанию в столбец для мобильных */
  gap: 20px; /* Добавлено расстояние между элементами */
}

.imagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainImage {
  width: 100%;
  height: auto; /* Для адаптивности */
  max-width: 450px; /* Максимальная ширина для изображений */
  object-fit: cover;
}

.miniImages {
  display: flex;
  gap: 10px; /* Добавлено расстояние между мини-изображениями */
}

.miniImage {
  width: 100px; /* Ширина мини-изображений */
  height: auto;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.2s; /* Плавный эффект при наведении */
}

.miniImage:hover {
  transform: scale(1.05); /* Увеличение при наведении */
}

.productDetails {
  display: flex;
  flex-direction: column;
  padding: 0 20px; /* Уменьшено расстояние с боков */
}

.productDetails h1 {
  font-weight: 400;
  font-size: 36px;
  margin: 0;
}

.productDetails p {
  max-width: 600px;
  font-size: 16px;
}

.purchaseBox {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Добавлено расстояние между элементами */
}

.prices {
  display: flex;
  flex-direction: column;
}

.actualPrice {
  font-size: 28px;
  font-weight: 400;
  color: #23ddd9;
}

.oldPrice {
  font-size: 20px;
  color: #0a4e4c;
  text-decoration: line-through;
}

.shoppingBox {
  display: flex;
  align-items: center;
  gap: 10px; /* Добавлено расстояние между иконками */
}

.shoppingBox img {
  width: 50px; /* Уменьшена ширина иконок */
  height: 50px; /* Уменьшена высота иконок */
  cursor: pointer;
  transition: filter 0.2s; /* Плавный эффект при наведении */
}

.shoppingBox img:hover {
  filter: brightness(140%);
}

.purchaseBox button {
  width: 100%; /* Занимает всю ширину */
  max-width: 390px; /* Максимальная ширина для кнопки */
  height: 50px;
  border-radius: 25px; /* Округлые края */
  border: none;
  background-color: #5e26dd;
  color: #ffffff;
  font-size: 20px;
}

.purchaseBox button:hover {
  cursor: pointer;
  border: 1px solid #23ddd9;
  box-shadow: 0 0 10px rgba(143, 143, 240, 0.5);
}

/* Мобильные стили */
@media (min-width: 768px) {
  .product {
    flex-direction: row; /* В ряд для больших экранов */
  }

  .imagesContainer {
    flex-direction: column;
  }

  .mainImage {
    max-width: 450px; /* Максимальная ширина для больших экранов */
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 2%;
  }

  .productDetails h1 {
    font-size: 46px; /* Большой шрифт для заголовка */
  }

  .actualPrice {
    font-size: 40px;
  }
}
