.main {
  display: flex;
  flex-direction: column;
  padding: 2% 5%;
  color: #fff;
}

.path {
  margin-bottom: 20px;
  font-size: 16px;
}

.path a {
  color: #fff;
}

.product {
  display: flex;
  flex-direction: row; /* По умолчанию в столбец для мобильных */
  gap: 20px; /* Добавлено расстояние между элементами */
  margin-bottom: 40px;
}

.imagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 440px;
}

.mainImage {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.miniImages {
  display: flex;
  justify-content: space-between;
  gap: 3%;
  width: 100%;
  margin-top: 10px;
  max-height: 100px;
  height: auto;
}

.miniImage {
  width: 31.3%; /* Ширина мини-изображений */
  height: auto;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.2s; /* Плавный эффект при наведении */
}

.miniImage:hover {
  transform: scale(1.05); /* Увеличение при наведении */
}

.productDetails {
  display: flex;
  flex-direction: column;
  padding: 0 50px; /* Уменьшено расстояние с боков */
}

.productDetails h1 {
  max-width: 900px;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 10px;
}

.productDetails p {
  max-width: 600px;
}

.purchaseBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  gap: 3rem; /* Добавлено расстояние между элементами */
}

.prices {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.actualPrice {
  font-size: 34px;
  font-weight: 400;
  color: #23ddd9;
  line-height: 36px;
}

.oldPrice {
  font-size: 20px;
  font-weight: 400;
  color: #0a4e4c;
}

.shoppingBox {
  display: flex;
  gap: 10px; /* Добавлено расстояние между иконками */
}

.shoppingBox img {
  width: 60px; /* Уменьшена ширина иконок */
  height: 60px; /* Уменьшена высота иконок */
  cursor: pointer;
  transition: filter 0.2s; /* Плавный эффект при наведении */
}

.shoppingBox img:hover {
  filter: brightness(140%);
}

.productDetails button {
  width: 100%; /* Занимает всю ширину */
  max-width: 390px; /* Максимальная ширина для кнопки */
  height: 50px;
  border-radius: 25px; /* Округлые края */
  border: none;
  background-color: #5e26dd;
  color: #ffffff;
  font-size: 20px;
  margin-top: 1rem;
}

.productDetails button:hover {
  cursor: pointer;
  border: 1px solid #23ddd9;
  box-shadow: 0 0 10px rgba(143, 143, 240, 0.5);
}

@media (max-width: 1024px) {
  .productDetails {
    padding: 0 12px; /* Уменьшено расстояние с боков для мобильных */
  }
  .productDetails h1 {
    font-size: 30px;
  }
  .productDetails p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .imagesContainer {
    width: 50%;
  }
  .productDetails {
    padding: 0 10px; /* Уменьшено расстояние с боков для мобильных */
    width: 50%;
  }
  .productDetails button {
    width: 100%;
    max-width: none;
  }
  .purchaseBox {
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .product {
    flex-direction: column;
    align-items: center;
  }
  .imagesContainer {
    width: 100%;
    max-height: 60vh;
  }
  .mainImage {
    max-height: 40vh;
  }
  .productDetails {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .path {
    font-size: 14px; /* Уменьшение размера шрифта для мобильных */
  }

  .productDetails h1 {
    font-size: 28px; /* Уменьшение размера заголовка */
  }

  .actualPrice {
    font-size: 28px; /* Уменьшение размера цены */
  }

  .oldPrice {
    font-size: 16px; /* Уменьшение размера старой цены */
  }

  .productDetails button {
    font-size: 18px; /* Уменьшение размера шрифта кнопки */
    margin-bottom: 20px;
  }
}
