.card {
  width: 100%;
  max-width: 388px;
  max-height: 505px;
  display: flex;
  flex-direction: column;
  color: black;
  overflow: hidden;
  margin: 0 auto;
}

.card img {
  width: 100%;
  height: 82%;
  min-height: 425px;
  object-fit: cover;
}

.purchaseBox {
  width: 100%;
  height: 18%;
  min-height: 80px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.cardDescription {
  width: 100%; /* using 100% for responsivity */
  height: auto;
  gap: 4px;
}

.cardTitle {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.prices {
  display: flex;
  align-items: center;
}

.actualPrice {
  font-size: 24px;
  font-weight: 400;
  margin-right: 10px;
}

.oldPrice {
  font-size: 18px;
  font-weight: 400;
  color: #aeaeae;
}

.purchaseBox button {
  width: 100%;
  max-width: 104px;
  height: 50px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  background-color: #5e26dd;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.purchaseBox button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px rgb(143, 143, 240);
}

@media (max-width: 1024px) {
  .cardTitle {
    font-size: 0.9em;
  }
  .actualPrice {
    font-size: 0.9rem;
  }

  .oldPrice {
    font-size: 0.8rem;
  }
  .purchaseBox button {
    width: 100%;
    max-width: 80px;
    height: 40px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: #5e26dd;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
  }
}
@media (max-width: 1024px) {
  .card {
    max-height: 400px;
  }
  .card img {
    height: 82%;
    min-height: 325px;
  }
}

@media (max-width: 768px) {
  .card {
    max-width: 100%; /* Full width on small screens */
  }

  .cardTitle {
    font-size: 0.775em;
  }

  .actualPrice {
    font-size: 1.25rem;
  }

  .oldPrice {
    font-size: 1rem;
  }

  .purchaseBox button {
    padding: 8px 16px;
    font-size: 0.875rem;
  }
}

@media (max-width: 600px) {
  .card {
    max-height: 300px;
    min-height: 300px;
  }
  .card img {
    min-height: 220px;
    object-fit: cover;
  }
  .purchaseBox button {
    display: none;
  }
  .purchaseBox {
    min-height: 50px;
    padding: 10px;
  }
  .actualPrice {
    font-size: 10px;
  }

  .oldPrice {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .card {
    max-height: 230px;
    min-height: 230px;
  }

  .card img {
    min-height: 180px;
  }
  .purchaseBox {
    min-height: 50px;
    padding: 5px;
  }
  .oldPrice {
    font-size: 12px;
  }
}
