.blurBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2); /* Затемнение */
  backdrop-filter: blur(5px); /* Эффект размытия */
  z-index: 12; /* Поднять над всем контентом */
  display: none;
}

.basket {
  background: #0c0124;
  border-radius: 10px;
  border-style: solid;
  border-color: #5f23dd;
  border-width: 3px;
  height: 70vh;
  width: 90%;
  max-width: 750px;
  position: relative;
  overflow: hidden;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  display: none;
  z-index: 13;
}

.visible {
  display: block;
}

.basket .basketHeader {
  border-style: solid;
  border-color: #5e26dd;
  border-width: 0px 0px 2px 0px;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
}
.basket .closeButton {
  width: 20px;
  height: 20px;
  overflow: visible;
  cursor: pointer;
}
.basket .title {
  background: linear-gradient(
    180deg,
    rgba(35, 221, 218, 1) 0%,
    rgba(95, 35, 221, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;

  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
}

.basket .buyings {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  height: 70%;
  overflow: scroll;
}
.controlContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
  padding: 0 6%;
}

.basket .confirmBlock {
  background: #e4ffff;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(35, 221, 217, 1) 0%,
    rgba(94, 38, 221, 1) 100%
  );
  border-image-slice: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  width: 45%;
}
.basket .totalAmount {
  color: #5e26dd;
  text-align: left;
  font-size: var(--h3-font-size, 24px);
  line-height: var(--h3-line-height, 150%);
  font-weight: var(--h3-font-weight, 400);
  text-transform: uppercase;
}

.basket .checkoutButton {
  color: #ffffff;
  text-align: left;
  font-size: 18px;
  line-height: 150%;

  position: relative;

  border-radius: 10px;
  text-align: center;
  background: linear-gradient(96.08deg, #23ddd9 14.66%, #5f23dd 88.75%);
  border: 1px solid #5e26dd;
  transition: all 0.3s;
  height: 50%;
  width: 50%;
}

.basket .checkoutButton:hover {
  cursor: pointer;
  background: linear-gradient(96.08deg, #5e26dd 14.66%, #23ddda 88.75%);
  box-shadow: 0px 0px 25px 10px rgb(76, 76, 184);
}

.basket .continueShoppingButton {
  color: #5e26dd;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  background: #ede7f2;
  border-radius: 10px;
  border-style: solid;
  border-color: #4a1dae;
  border-width: 2px;
  padding: 14px 50px 14px 50px;
  line-height: 10px;
  max-height: 40px;
  box-shadow: 0px 0px 16.1px 0px rgba(95, 35, 221, 1);
}

.basket .continueShoppingButton:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20.1px 4px rgba(95, 35, 221, 1);
}

@media (max-width: 768px) {
  .basket {
    width: 90%;
  }
  .controlContainer {
    flex-direction: column;
  }
  .continueShoppingButton,
  .basket .confirmBlock {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .basket {
    height: 95vh;
    top: 2%;
  }
}
