:root {
  --button-shadow-color: rgb(76, 76, 184);
}

.introduction {
  width: 100%;
  min-height: 60vh;
  background: linear-gradient(
    99.88deg,
    #06194a 41.96%,
    rgba(6, 25, 74, 0) 99.13%
  );
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; /* For adaptive */
  padding: 1rem 2rem;
  gap: 2rem; /* Gap between blocks */
}

.attractionBlock {
  max-width: 62%;
  color: #ffffff;
}

.attractionBlock p {
  font-size: clamp(1.5rem, 5vw, 3.75rem);
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}

.attractionBlock .button {
  margin-top: 2rem;
}

.button {
  padding: 0.75rem 4rem;
  min-width: 200px;
  min-height: 70px;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  transition: box-shadow 0.3s ease, background 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  font-size: 1.2rem;
  background: linear-gradient(96.08deg, #23ddd9 14.66%, #5f23dd 88.75%);
  box-shadow: 0px 0px 10px 2px var(--button-shadow-color);
}

.button:hover {
  background: linear-gradient(96.08deg, #5e26dd 14.66%, #23ddda 88.75%);
  box-shadow: 0px 0px 25px 10px var(--button-shadow-color);
}

.button:active {
  transform: translateY(1px);
  box-shadow: 0px 0px 10px 2px var(--button-shadow-color);
}

.product {
  max-width: 38%;
  height: 100%;
}

.product img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
  min-height: 300px;
}

@media (max-width: 1200px) {
  .introduction {
    gap: 1rem;
  }
}

@media (max-width: 1024px) {
  .introduction {
    padding: 1rem;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }

  .attractionBlock {
    max-width: 100%;
  }

  .product {
    max-width: 80%;
    max-height: 340px;
  }
  .product img {
    max-height: 340px;
    max-width: 220px;
  }
}

@media (max-width: 320px) {
  .attractionBlock .button {
    max-width: 90%;
    min-width: unset;
  }
}
